.checkoutProduct
{
    display: flex;
    margin-bottom: 27px;
}
.checkoutProduct__info
{
    margin-left:22px;
}
.checkoutProduct__rating
{
    display: flex;
}

.checkoutProduct__img
{
    height: 253px;
}